<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=1400px,initial-scale=1.5,user-scalable=yes" />
	<title>详细页面</title>
	<script language="javascript" src="/JSON.js"></script>
	<script language="javascript" src="/JSONError.js"></script>
	<script language="javascript" src="/JSONRequestError.js"></script>
	<script language="javascript" src="/JSONRequest.js"></script>
		<!-- CSS样式表 -->
	<link  type="text/css"  href="/static/extjs/resources/css/ext-all.css" rel="stylesheet"/>
	<link  type="text/css"  href="/static/extjs/resources/css/xtheme-gray.css" rel="stylesheet"/>
	<script type="text/javascript" src="/static/extjs/adapter/ext/ext-base.js"></script>
	<script type="text/javascript" src="/static/extjs/ext-all.js"></script>
	<script type="text/javascript" src="/static/extjs/adapter/ext/ext-basex.js"></script>
	<script type="text/javascript" src="/static/extjs/ext-lang-zh_CN.js"></script>
	<script type="text/javascript" src="/static/extjs/sel.js"></script>
	<script type="text/javascript" src="/static/extjs/plugins/header/GroupHeaderPlugin.js"></script>
	<!-- jQuery库 -->
	<script type="text/javascript" src="/static/jquery/jquery-1.6.4.min.js"></script>

</head>
<body id="body">
	<div class="asideR-cont" id="rootbody">
		<div id="div1"><h1 style="text-align:center" id="title">代理信息</h1></div>
		<div id="div1"><h1 style="text-align:center" id="jiazai">数据正在加载中，请稍等二秒钟！</h1></div>
		<div class="strate-eleme">

			<div class="query-tbl">
				<div class="table-list" id="myGrid"></div>
			</div>
			 <button style="width:120px; height:30px;" onclick="goBack()">返回上一页</button>
		</div>
	</div>

	<script type="text/javascript">
		var myStore;
		var myGrid;
		var columns;	
		var params;
		var fields;
		var data;

	Ext.onReady(function() {
			params={};
			JSONRequest.post("/background/detail_info", params, function (requestNumber, value, exception){
				if (value["error"])
				{
					alert(value["error"]);
				}
				else
				{
					//初始化列表模型
					columns = new Ext.grid.ColumnModel({
						defaults : {
							css : 'cursor:default!important;'
						},
						columns : [{header : '序号', dataIndex : 'id', align : "center", renderer : nameRender, width : 2, sortable : true
						}, {header : '代理等级', dataIndex : 'agent_lv',align : "center", renderer : nameRender, width : 3, sortable : true
						}, {header : '下级代理数', dataIndex : 'child_agent_count', align : "center", renderer : nameRender, width : 4, sortable : true
						},{header : '会员付费', dataIndex : 'child_total_fee', align : "center", renderer : nameRender, width : 3, sortable : true
						},{header : '游戏ID', dataIndex : 'game_id', align : "center", renderer : nameRender, width : 4, sortable : false
						},{header : '身份证号', dataIndex : 'identity', align : "center", renderer : nameRender, width : 7, sortable : false
						},{header : '代理号', dataIndex : 'key', align : "center", renderer : nameRender, width : 4, sortable : false
						},{header : '密码', dataIndex : 'mima', align : "center", renderer : nameRender, width : 5, sortable : false
						},{header : '电话', dataIndex : 'mobile', align : "center", renderer : nameRender, width : 5, sortable : false
						},{header : '姓名', dataIndex : 'name', align : "center", renderer : nameRender, width : 4, sortable : false
						},{header : '上级代理邀请码', dataIndex : 'ower_key', align : "center", renderer : nameRender, width : 5, sortable : false
						},{header : '会员数', dataIndex : 'player_count', align : "center", renderer : nameRender, width : 3, sortable : true
						},{header : '会员充值金额', dataIndex : 'player_total_fee', align : "center", renderer : nameRender, width : 5, sortable : true
						},{header : '微信号', dataIndex : 'wechat', align : "center", renderer : nameRender, width : 8, sortable : false
						}]
					});
					fields =[  'id','agent_lv','child_agent_count','child_total_fee','game_id','identity','key','mima','mobile','name','ower_key','player_count','player_total_fee','wechat'];
					data=new Array(value.length);
					for(var i=0;i<value.length;i++){
							data[i]=[(i+1),value[i]["agent_lv"],value[i]["child_agent_count"],value[i]["child_total_fee"],value[i]["game_id"],value[i]["identity"],value[i]["key"],value[i]["mima"],value[i]["mobile"],value[i]["name"],value[i]["ower_key"],value[i]["player_count"],value[i]["player_total_fee"],value[i]["wechat"]];
						}
				}
			});
		});
 
		function  yanshi(){
				//初始化请求列表DS
				myStore = new Ext.data.ArrayStore({		
					fields : fields,
					data:data
				});

				// 分页
				var pager = new Ext.PagingToolbar({
					pageSize:10000,
					store : myStore,
					displayInfo : true,
					displayMsg : '显示第 {0} 条到 {1} 条记录,一共 {2} 条',
					emptyMsg : "没有符合条件的记录"
				});

				var ctlSm = new Ext.grid.RowSelectionModel({
					// 接触控制配置列表仅允许单选
					singleSelect : true
				});

				myGrid = new Ext.grid.GridPanel({
					title:"代理信息",
					forceFit : true,
					autoHeight: true,
					renderTo : 'myGrid',
					border : false,
					store : myStore,
					bbar : pager,
					cm : columns,
					sm : ctlSm,
					enableDraDrop : false,
					enableColumnMove : true,
					autoScroll : true,
					stripeRows : true,
					loadMask : true,
					viewConfig : {
						deferRowRender : false,
						forceFit : true,
						emptyText : "没有符合条件的记录",
						autoScroll : true,
						scrollOffset : -10
					},
					stripeRows : true
				});
		document.getElementById("ext-gen39").style.visibility="hidden";
		document.getElementById("jiazai").innerHTML="";
		
	}
		setTimeout("yanshi()",2000)
		function nameRender(value,cellmeta,record, rowIndex, columnIndex, taskStore){
			
			return  '<div align="center">'+value+'</div>';
		}

	
		function goBack(){
			window.history.back();
		}

	</script>
</body>
</html>
