[submodule "tools/lock-free"]
	path = tools/lock-free
	url = https://github.com/qianqians/lock-free.git
[submodule "tools/jsonparsepp"]

	path = tools/jsonparsepp

	url = https://github.com/qianqians/jsonparsepp.git
[submodule "tools/juggle"]
	path = tools/juggle
	url = https://github.com/qianqians/juggle.git
[submodule "3rdparty/enet"]
	path = 3rdparty/enet
	url = https://github.com/lsalzman/enet.git
