<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sanyuanhy.mymj"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />  
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> 
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />	
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
	<uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />


    <application
		android:name=".MyApplication"
        android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
        android:theme="@android:style/Theme.Black.NoTitleBar"
        android:label="@string/app_name"
		>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
             <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
        </activity>
        
		<activity
            android:name=".wxapi.WXEntryActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
			android:launchMode="singleTask"
            android:screenOrientation="portrait" />
		<activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
			/>
    </application>

</manifest>
